body {
  background-color: bisque;
}

#app {
  background-color: white;
  max-width: 780px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.block {
  display: grid;
  grid-template-columns: 4fr 2fr;);
}
.list {
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  flex-direction: column;
}
.total {
  display: flex;
  justify-content: space-between;
}